.logo-img{
    width: 150px;
    margin-bottom: 50px;
}

.banner-area {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}

.player-namecard{
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.player-avatar {
    position: absolute;
    width: 20%;
    border-radius: 10px 0px 0px 10px;
}

/* TODO:バナー上に白のグラデーションを入れ、どのようなバナーでも名前を見やすく */
.player-name-and-title{
    position: absolute;
    left: 25%;
    top: 47%;
    transform: translateY(-50%);
    text-align: left;
}

.player-name {
    color: white;
    font-size: 4vw;
    font-style: italic;
    margin-bottom: 0;
}

.player-title {
    margin-top: 5px;
    color: white;
    font-size: 2vw;
    font-style: italic;
}

.player-rank-area{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.endorsement{
    width: 13%;
    margin-right: 60px;
}

.role-container{
    display: flex;
    width: 30%;
    margin-left: 10px;
}

.role-icon {
    width: 45%;
}

.role-right-container{
    width: 50%;
    padding-left: 5px;
}

.rank-icon,
.tier-icon {
    width: 75%;
}

.hero-stats-table-area{
    text-align: center;
    width: 100%;
}

.table{
    margin:0 auto;
    border-spacing: 20px 30px;
    font-size: 18px;
}

.table th{
    font-size: 20px;
}

/* TODO:下線の表示 */
.table tr{
    border-bottom: 20px solid #E0612B;
}