.logo-img{
    width: 150px;
    margin-bottom: 50px;
}

.banner-area {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}

.player-namecard{
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.player-avatar {
    position: absolute;
    width: 20%;
    border-radius: 10px 0px 0px 10px;
}

/* TODO:バナー上に白のグラデーションを入れ、どのようなバナーでも名前を見やすく */
.player-name-and-title{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.player-name {
    color: white;
    font-size: 4vw;
    font-style: italic;
    margin-bottom: 0;
}

.player-title {
    margin-top: 5px;
    color: white;
    font-size: 2vw;
    font-style: italic;
}
.endorsement{
    width: 15%;
}


.tank-role-container{
    display: flex;
    width: 30%;
}

.tank-cs-role-icon {
    width: 45%;
}

.tank-role-right-container{
    width: 50%;
}

.tank-cs-rank-icon,
.tank-cs-tier-icon {
    width: 70%;
}


.damage-role-container{
    display: flex;
    width: 30%;
}

.damage-cs-role-icon {
    width: 45%;
}

.damage-role-right-container{
    width: 50%;
}

.damage-cs-rank-icon,
.damage-cs-tier-icon {
    width: 70%;
}


.support-role-container{
    display: flex;
    width: 30%;
}

.support-cs-role-icon {
    width: 45%;
}

.support-role-right-container{
    width: 50%;
}

.support-cs-rank-icon,
.support-cs-tier-icon {
    width: 70%;
}