body{
    padding: 40px;
    background-color: #DADDE4;
    font-family: Arial, sans-serif;
    color: #4c4c4c;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.logo-container{
    text-align: center;
}

.logo-img{
    width: 150px;
}

.btn-primary{
    font-weight: 400;
    background-color: #E0612B;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.btn-secondary{
    color: #2e8acb;
    cursor: pointer;
}