h1{
    margin: 20px;
    color: #4C4C4C;
    text-align: center;
}

.login-container{
    text-align: center;
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    color: #4C4C4C;
}

.btn-secondary{
    text-align: right;
    color: #2e8acb;
}
