h1{
    text-align: left;
}

p{
    text-align: left;
}

.mypage-button-container{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 20px;
    justify-content: center;
}
.mypage-button{
    background-color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.mypage-button-img{
    max-width: 50%;
    margin-bottom: 10px;
}

#search-player-btn-img{
    transform: rotate(45deg);
}

.btn-secondary{
    
}