{% extends 'overwin/base.html'%}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'overwin/css/account_info.css'%}">
{% endblock %}

{% block content %}
<div class="h1">アカウント情報</div>
    <div>
        <table>
            <tbody>
                <tr>
                    <th>ユーザー名</th>
                    <td>{{ username }}</td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td>{{ email }}</td>
                </tr>
            </tbody>
        </table>
        <div><a href="{% url 'overwin:account_info_update' %}" class="btn btn-primary ">編集する</a></div>
        <div><a href="{% url 'overwin:account_delete' %}" class="delete-btn btn-secondary">アカウントを削除する</a></div>
    </div>
{% endblock %}