{% extends 'overwin/base.html'%}

{% block title %}
<div class="h1">アカウント情報</div>
{% endblock %}

{% block content %}
    <div>
        <table>
            <tbody>
                <tr>
                    <th>ユーザー名</th>
                    <td>{{ username }}</td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td>{{ email }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'overwin:account_info_update' %}" class="btn btn-primary ">編集する</a>
        <a href="{% url 'overwin:mypage' %}" class="btn btn-secondary">マイページに戻る</a>
    </div>
{% endblock %}