{% extends 'overwin/base.html'%}

{% block title %}
<div class="h1">アカウント情報編集</div>
{% endblock %}

{% block content %}
    <form action="" method="POST">
    {{ form.non_field_errors }}
    <table class="table">
        <tbody>
            {% for field in form %}
                <tr>
                    <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                    <td>{{ field }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
    <button type="submit" class="btn btn-success" >更新</button>
    <a href="{% url 'overwin:account_info' user.pk %}" class="btn btn-secondary">アカウント情報に戻る</a>
{% endblock %}

