{% extends 'overwin/base.html'%}

{% block title %}
<div class="h1">お気に入りプレイヤー一覧</div>
{% endblock %}

{% block content %}
    <div>
        {% for player in object_list %}
        <ul>
            <li>
                {{ player.game_player.battle_tag }}
                <form action="{% url 'overwin:favorite_game_player' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="favorite_id" value="{{ player.id }}">
                    <button type="submit">削除</button>
                </form>
            </li>
        </ul>
        {% endfor %}
    </div>
    <a href="{% url 'overwin:mypage' %}" class="btn btn-secondary">戻る</a>
{% endblock %}