{% extends 'overwin/base.html'%}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'overwin/css/favorite_game_player.css'%}">
{% endblock %}

{% block content %}
{% if object_list %}
<h1>お気に入りプレイヤー一覧</h1>
<div>
    {% for player in object_list %}
    <ul>
        <li>
            <a href="{% url 'overwin:game_player_info' %}?battle_tag={{ player.game_player.battle_tag|urlencode }}">{{ player.game_player.battle_tag }}</a>
            <form action="{% url 'overwin:favorite_game_player' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="favorite_id" value="{{ player.id }}">
                <button type="submit">削除</button>
            </form>
        </li>
    </ul>
    {% endfor %}
</div>
{% else %}
<p>プレイヤーが登録されていません</p>
{% endif %}
{% endblock %}