{% extends 'overwin/base.html'%}

{% block content %}
    {% if player %}
    <h1>{{ player_data.username }}</h1>
    <img src="{{ player_data.avatar }}" alt="Player Avatar">
    <img src="{{ player_data.namecard }}" alt="Player Namecard">
    <p>{{ player_data.title }}</p>
    <p><img src="{{ player_data.endorsement.frame }}" alt="Endorsement Frame"></p>
    <h2>Hero Stats</h2>
    {% else %}
    <p>プレイヤーが見つかりませんでした</p>
    {% endif %}
    <a href="{% url 'overwin:favorite_game_player' %}" class="btn btn-secondary">戻る</a>
{% endblock %}