{% extends 'overwin/base.html' %}

{% block title %}
<div class="h1">ログイン</div>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        {{ field.label }}
        {{ field }}
        {{ field.errors }}
        <br>
        {% endfor %}
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">ログイン</button>
            <a href="{% url 'overwin:mypage' %}" class="btn btn-secondary">戻る</a>
        </div>
        <a href="{% url 'overwin:account_register'%}">新規会員登録はこちら</a>
    </form>
{% endblock %}
