{% extends 'overwin/base.html' %}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'overwin/css/login.css' %}">
{% endblock %}

{% block content %}
    <h1>ログイン</h1>
    <div class="login-container">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form-field">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            </div>
            {% endfor %}
            <div>
                <button type="submit" class="btn btn-primary">ログイン</button>
            </div>
            <div>
                <a class="btn-secondary" href="{% url 'overwin:account_register'%}">新規会員登録はこちら</a>
            </div>
        </form>
    </div>
{% endblock %}
