{% extends 'overwin/base.html' %}

<head>
    <title>マイページ</title>
</head>

{% block title %}
    <h1>マイページ</h1>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>こんにちは{{ user.username }}さん</p>
        <div class = "mypage_container fill">
            <div class="mypage_button fit">
                <a href="{% url 'overwin:account_register' %}">新規会員登録</a>
            </div>
            <div class="mypage_button fit">
                <a href="{% url 'overwin:search_player' %}">プレイヤー検索</a>
            </div>
            <div class="mypage_button fit">
                <a href=>お気に入りプレイヤー</a>
            </div>
            <div class="mypage_button fit">
                <a href=>アカウント情報</a>
            </div>
            <div class="mypage_button fit">
                <a href=>パーティー募集</a>
            </div>
            <div class="mypage_button fit">
                <a href=>自己紹介カード</a>
            </div>
        </div>
        <a href="{% url 'overwin:logout' %}">ログアウト</a>
    {% else %}
        <a href="{% url 'overwin:account_register' %}" class="btn btn-primary">ログインもしくは新規登録</a>
    {% endif %}
{% endblock %}