{% extends 'overwin/base.html'%}
{% load static %}


{% block page_css %}
<link rel="stylesheet" href="{% static 'overwin/css/party_recruitment/party_recruitment_list.css'%}">
{% endblock %}

{% block content %}
<div class="h1">パーティー募集</div>
<h2>自分の募集</h2>
{% for recruitment in user_recruitment %}
<ul>
    <li>
        <h3>募集者：{{ recruitment.owner.username }}</h3>
        <p>募集人数: {{ recruitment.max_recruit_member }}</p>
        <p>参加人数: {{ recruitment.current_member_count }}</p>
        <a href="{%url 'overwin:party_recruitment_detail' recruitment.id %}">詳細</a>
    </li>
</ul>

{% empty %}
    <p>募集を作成していません</p>
{% endfor %}
<a href="{% url 'overwin:party_recruitment_create'%}">募集の新規作成</a>

<h2>募集一覧</h2>
<ul>
    {% for recruitment in other_recruitments %}
        <li>
            <h3>募集者：{{ recruitment.owner.username }}</h3>
            <p>募集人数: {{ recruitment.max_recruit_member }}</p>
            <p>参加人数: {{ recruitment.current_member_count }}</p>
            <a href="{%url 'overwin:party_recruitment_detail' recruitment.id %}">詳細</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'overwin:mypage'%}">戻る</a>
{% endblock %}