{% extends 'overwin/base.html'%}

{% block title %}
<div class="h1">パーティー募集</div>
{% endblock %}

{% block content %}
<a href="{% url 'overwin:party_recruitment_create'%}">募集の新規作成</a>
<ul>
    {% for recruitment in recruitments %}
        <li>
            <h3>募集者：{{ recruitment.owner.username }}</h3>
            <p>募集人数: {{ recruitment.max_recruit_member }}</p>
            <p>参加人数: {{ recruitment.current_member_count }}</p>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'overwin:mypage'%}">戻る</a>
{% endblock %}