{% extends 'overwin/base.html'%}

{% block content %}
<h1>{{ recruitment.title }}</h1>
<p>{{ recruitment.content }}</p>
<h3>募集者：{{ recruitment.owner.username }}</h3>

{% if is_owner %}
<form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% if error_message %}
        <div class="error_message">
            {{ error_message }}
        </div>
    {% endif %}
    {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
    {% endfor %}
    <h4>参加者一覧</h4>
    {% if joined_members %}
        <ul>
        {% for member in joined_members %}
            <li>{{ member.join_member.username }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>参加者はいません。</p>
    {% endif %}
    <h4>参加申請者一覧</h4>
    {% if applicant_members %}
        <ul>
        {% for member in applicant_members %}
            <li>{{ member.join_member.username }}</li>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="member_id" value="{{ member.join_member.id }}">
                <button type="submit" name="approve_member">許可</button>
            </form>
        {% endfor %}
        </ul>
    {% else %}
        <p>参加申請者はいません。</p>
    {% endif %}
    <button name="recruitment_update" type="submit" class="btn btn-success" >更新</button>
    <a href="{% url 'overwin:party_recruitment_list'%}" class="btn btn-secondary">募集一覧に戻る</a>
    <a href="{% url 'overwin:party_recruitment_delete' recruitment.id %}" class="btn btn-secondary">募集を削除</a>
{% else %}
        <p>募集人数: {{ recruitment.max_recruit_member }}</p>
        <p>参加人数: {{ recruitment.current_member_count }}</p>
        <p>備考欄: {{ recruitment.comment }}</p>
        {% if has_full_member %}
            <span>満員です</span>
        {% elif applicated_to_recruiting %}
            <span>参加申請済み</span>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="join" class="btn btn-primary">参加申請</button>
            </form>
        {% endif %}
    <a href="{% url 'overwin:party_recruitment_list'%}" class="btn btn-secondary">募集一覧に戻る</a>
{% endif %}
{% endblock %}