{% extends 'overwin/base.html'%}
{% load static %}


{% block page_css %}
<link rel="stylesheet" href="{% static 'overwin/css/party_recruitment/party_recruitment_list.css'%}">
{% endblock %}

{% block content %}
<div class="content">

<h2 class="title">自分の募集</h2>
<div class="card-container">
    {% for recruitment in user_recruitment %}
    <div class="card">
        <a href="{%url 'overwin:party_recruitment_detail' recruitment.id %}">
        <div class="card-content">
            <h3>募集者：{{ recruitment.owner.username }}</h3>
            <p>参加人数: {{ recruitment.current_member_count }}</p>
            <p>募集人数: {{ recruitment.max_recruit_member }}</p>
            {% if recruitment.comment %}
            <p>コメント: {{ recruitment.comment }}</p>
            {% else %}
            <p>コメント: - </p>
            {% endif %}
        </div>
        </a>
    </div>

    {% empty %}
    <p>募集を作成していません</p>
    {% endfor %}
</div>

<a href="{% url 'overwin:party_recruitment_create'%}">募集の新規作成</a>

<h2 class="title">募集一覧</h2>
<div class="card-container">
    {% for recruitment in other_recruitments %}
    <div class="card">
        <a href="{%url 'overwin:party_recruitment_detail' recruitment.id %}">
        <div class="card-content">
            <h3>募集者：{{ recruitment.owner.username }}</h3>
            <p>募集人数: {{ recruitment.max_recruit_member }}</p>
            <p>参加人数: {{ recruitment.current_member_count }}</p>
            {% if recruitment.comment %}
            <p>コメント: {{ recruitment.comment }}</p>
            {% else %}
            <p>コメント: - </p>
            {% endif %}
        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}