{% extends 'overwin/base.html'%}

{% block title %}
<div class="h1">プレイヤー検索</div>
{% endblock %}

{% block content %}
<form action="" method="get">
    <input name="query" value="{{ request.GET.query }}" type="search" />
    <button type="submit">検索</button>
</form>
<form action="" method="post">
    {% csrf_token %}
    <div>
        {% for player in object_list %}
        <ul>
            <li>
                <a href="{% url 'overwin:game_player_info' %}?battle_tag={{ player.game_player.battle_tag }}">{{ player.battle_tag }}</a>
                <input type="checkbox" name="favorite_player" value="{{ player.id }}">
            </li>
        </ul>
        {% endfor %}
    </div>
    <button type="submit">お気に入りに追加</button>
</form>
<a href="{% url 'overwin:mypage' %}" class="btn btn-secondary">戻る</a>
{% endblock %}