{% extends 'overwin/base.html'%}

{% block title %}
<div class="h1">プレイヤー検索</div>
{% endblock %}

{% block content %}
    <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="search" />
        <button type="submit">検索</button>
    </form>
    <div>
        {% for player in object_list %}
        <ul>
            <li>{{ player.battle_tag }}</li>
        </ul>
        {% endfor %}
    </div>
    <a href="{% url 'overwin:mypage' %}" class="btn btn-secondary">戻る</a>
{% endblock %}