a{
    text-decoration: none;
}

.logo-img{
    width: 150px;
}

.content{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 60px;
}

.card h4{
    margin-top: 30px;
    margin-bottom: 0px;
}

.card p{
    margin-top: 5px;
}

.card-recruiter-area{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rectuiter{
    margin-bottom: 0;
}

.update-link{
    background-color: #1D2539;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
}

.member-num-area{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.member-num-area p{
    margin-top: 5px;
    margin-right: 60px;
    margin-left: 20px;
}

.list-link-area{
    margin: 20px;
    margin-top: 30px;
    font-size: large;
    font-weight: bold;
    text-align: right;
}