.logo-img{
    width: 150px;
}

.content{
    max-width: 1000px;
    margin: 0 auto;
}

.title-and-link-area{
    display: flex;
    align-items: center;
}

.title{
    margin-left: 13%;
}

.create-link{
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
    font-size: medium;
}

.card {
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
    padding: 0px 40px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.card a{
    text-decoration: none;
}

.card-content{
    display: flex;
    align-items: center;
    color: #4c4c4c;
}

.recruiter{
    flex: 0 0 150px;
    margin-right: 20px;
}

.details{
    flex: 1;
}

.member-num
{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: large;
}

.participants{
    margin-right: 40px;
}

.card-content p{
    font-weight: 200;
    font-size: medium;
}

.recruitment-list{
    margin-top: 80px;
}