{% extends 'overwin/base.html' %}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'overwin/css/account_register_and_login/login.css' %}">
{% endblock %}

{% block logo %}
    <div class="logo-container">
        <img class="logo-img" src="{% static 'overwin/img/logo.png' %}" alt="ロゴ">
    </div>
{% endblock %}

{% block content %}
    <h1>ログイン</h1>
    <div class="login-container">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form-field">
            <div class="field-label">{{ field.label_tag }}</div>
            {{ field }}
            {{ field.errors }}
            </div>
            {% endfor %}
            <div class="login-button"><button type="submit" class="btn-primary">ログイン</button></div>
            <div class="register-area"><a class="register-link" href="{% url 'overwin:account_register'%}">新規会員登録はこちら</a></div>
        </form>
    </div>
{% endblock %}
