{% extends 'overwin/base.html'%}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'overwin/css/search_game_player/index.css'%}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="page-title"><h1>プレイヤー検索</h1></div>
    <form method="get">
        <div class="search-area">
            <input name="query" value="{{ request.GET.query }}" type="search" />
            <button class="btn-primary" id="search-btn" type="submit">検索</button>
        </div>
    </form>
    <!-- {% csrf_token %} -->
    <div class="player-list-area">
        <ul class="player-list">
        {% for player in object_list %}
            <li class="player-name">
                <input type="checkbox" class="favorite_player" data-game-player-name="{{ player.name }}" {% if player.is_favorite %}checked{% endif %}>
                <a class="player-name-link" href="{% url 'overwin:game_player_info' %}?battle_tag={{ player.name|urlencode }}">{{ player.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'overwin/js/search_game_player.js'%}"></script>
{% endblock %}