.logo-img{
    width: 150px;
}

.content{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.error-message{
    margin-top: 50px;
    font-weight: bold;
    font-size: large;
}

.btn-primary{
    margin-top: 30px;
    width: 200px;
    height: 40px;
    font-weight: 400;
    font-size: large;
}

.back-link-area{
    margin: 0 auto;
    text-decoration: none;
    margin-top: 20px;
}
