.logo{
    width: 120px;
}

.content{
    margin: 0 auto;
    margin-top: 50px;
    max-width: 600px;
}

.content h1{
    text-align: left;
}

.info-table {
    width: 100%;
    border-collapse:  collapse;
    background-color: white;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

td {
    border-bottom: 5px solid #DADDE4;
    border-spacing: 10px;
    margin: 0 auto;
}

table td:first-child {
    text-align: center;
    padding-left: 30px;
}

table td:last-child {
    padding: 30px;
    border-bottom: 5px solid #DADDE4;
}

.border{
    border-left: 1px solid #8d8c8c;
    padding-left: 20px;
    display: block;
}

.btn-primary{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.delete-area{
    text-align: right;
    margin-bottom: 10px;
}

.delete-link{
    color: red;
}