{% extends 'overwin/base.html'%}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'overwin/css/party_recruitment/delete.css'%}">
{% endblock %}

{% block content %}
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <p class="error-message">募集を削除しますか？</p>
        <div class="btn-area"><button type="submit" class="btn btn-primary btn-success" >削除</button></div>
        <div class="back-link-area"><a href="{% url 'overwin:party_recruitment_detail' pk=recruitment.pk %}" class="btn btn-secondary back-link">募集詳細に戻る</a></div>
    </form>
</div>
{% endblock %}