{% extends 'overwin/base.html'%}

{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'overwin/css/party_recruitment/detail.css'%}">
{% endblock %}

{% block content %}
<div class="content">
    <h2>募集詳細</h2>
    <!-- 募集者の詳細画面 -->
    {% if is_owner %}
    <div class="card">
        <div class="card-recruiter-area">
            <h2>募集者：{{ recruitment.owner.username }}</h2>
            <a href="{% url 'overwin:party_recruitment_update' recruitment.id %}" class="update-link">募集編集ページへ</a>
        </div>
        <div class="member-num-area">
            <h4>募集人数</h4>
            <p>{{ recruitment.max_recruit_member }}人</p>
            <h4>現在の参加人数</h4>
            <p>{{ recruitment.current_member_count }}人</p>
        </div>
        <h4>参加者一覧</h4>
        {% if joined_members %}
            <ul>
            {% for member in joined_members %}
                <li>{{ member.join_member.username }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>参加者はいません。</p>
        {% endif %}
        <h4>参加申請者一覧</h4>
        {% if applicant_members %}
            <ul>
            {% for member in applicant_members %}
                <div class="applicant-area">
                    <li>{{ member.join_member.username }}</li>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="member_id" value="{{ member.join_member.id }}">
                        <input type="text" name="message" maxlength="20" placeholder="（例）Player#1234" required>
                        <button type="submit" name="approve_member" class="btn-primary apply-btn">バトルタグと参加許可を送信</button>
                    </form>
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <p>参加申請者はいません。</p>
        {% endif %}
        <h4>コメント</h4>
        <p>{{ recruitment.comment }}</p>
    </div>
    <!-- 参加者の募集詳細画面 -->
    {% else %}
    <div class="card">
        {% if applicated_to_recruiting %}
            <p class="status-message">参加申請済み</p>
        {% elif not possible_to_entry %}
            <p class="status-message">満員です</p>
        {% endif %}
        {% if approved_message %}
            <p class="applyed-message">参加が許可されました！ 募集者のバトルタグ: {{ approved_message }}</p>
        {% endif %}
        <div class="card-recruiter-area">
            <h2>募集者：{{ recruitment.owner.username }}</h2>
        </div>
        <div class="member-num-area">
            <h4>募集人数</h4>
            <p>{{ recruitment.max_recruit_member }}人</p>
            <h4>現在の参加人数</h4>
            <p>{{ recruitment.current_member_count }}人</p>
        </div>
        <h4>参加者一覧</h4>
        {% if joined_members %}
            <ul>
            {% for member in joined_members %}
                <li>{{ member.join_member.username }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>参加者はいません。</p>
        {% endif %}
        <h4>コメント</h4>
        <p>{{ recruitment.comment }}</p>
    </div>
    {% if not applicated_to_recruiting and possible_to_entry %}
    <form method="post">
        {% csrf_token %}
        <div class="submit-btn-area"><button type="submit" name="join" class="btn entry-btn btn-primary">参加申請</button></div>
    </form>
    {% endif %}
{% endif %}
<div class="list-link-area"><a href="{% url 'overwin:party_recruitment_list'%}" class="list-link">募集一覧に戻る</a></div>
</div>
{% endblock %}