{% extends 'overwin/base.html'%}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'overwin/css/party_recruitment/party_recruitment_update.css'%}">
{% endblock %}

{% block content %}
<div class="content">
    <h2>募集編集</h2>
    <div class="delete-link-area"><a href="{% url 'overwin:party_recruitment_delete' pk=recruitment.id %}" class="btn btn-secondary delete-link">募集を削除</a></div>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="field-area">
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="action-button-area">
            <button name="update" type="submit" class="btn btn-primary" >更新する</button>
            <a href="{% url 'overwin:party_recruitment_detail' pk=recruitment.pk %}" class="btn btn-secondary back-link">募集詳細に戻る</a>
        </div>
    </form>
</div>
{% endblock %}
